/* Write your CSS here */
.increment-button {
  background-color: #ffffff;
  color: #0f172a;
  border-width: 0px;
  border-radius: 10px;
  height: 36px;
  width: 130px;
  padding: 5px;
}

.background-container {
  background-color: #ffffff;
  height: 100vh;
}

.main-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  margin: 100px;
  padding: 50px;
  border-radius: 10px;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: #0f172a;
  text-align: center;
}

.message {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: #334155;
  text-align: center;
}

.text {
  color: #1e293b;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #1e293b;
}
